<div id="tweet-div-{{ tweet.id }}-edit" class="flex-grow-1">
    <form>
        <div class="d-flex align-items-start justify-content-end">
            <textarea id="content" name="content" class="form-control mr-2" rows="3">{{ tweet.content }}</textarea>
            <div class="d-flex flex-column">
                <button hx-put="/webutils/tweet/{{ tweet.id }}/edit" hx-target="#tweet-div-{{ tweet.id }}"
                    hx-swap="outerHTML" class="btn btn-success btn-sm mb-1" type="button"><i
                        class="far fa-check-circle"></i></button>
                <button hx-get="/webutils/tweet/{{ tweet.id }}" hx-target="#tweet-div-{{ tweet.id }}"
                    hx-swap="outerHTML" class="btn btn-secondary btn-sm mb-1" type="button"><i
                        class="far fa-times-circle"></i></button>
                <button hx-delete="webutils/tweet/{{ tweet.id }}" hx-target="#tweet-div-{{ tweet.id }}"
                    hx-swap="outerHTML" class="btn btn-danger btn-sm" type="button"><i
                        class="far fa-trash-alt"></i></button>
            </div>
        </div>
    </form>
    <p class="card-text mb-0 text-muted"><small>Posted by <a href="{{ tweet.owner.username }}">{{
                tweet.owner.username }}</a>
        </small>
    </p>
</div>